{% comment %}
  Renders a product card

  Accepts:
  - section_id: {String} The ID of the section that contains this card.
  - colour: (String) Class of the colour to use for the product card's background
  - classes: (String) Classes to add (optional)
  - product: {Object} Product Liquid object (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)
  - show_collection_name: {Boolean} Whether to show the product's collection name (optional, default: true)
  - show_badges: {Boolean} Whether to show the product's badges (optional, default: false)

  Usage:
  {% render 'card-product', section_id: section_id, product: product %}
{% endcomment %}
{%- liquid
  unless lazy_load
    assign lazy_load = true
  endunless
  unless placeholder_image
    assign placeholder_image = 'product-apparel-2'
  endunless
  unless classes
    assign classes = ""
  endunless
  if show_collection_name != false and show_collection_name != true
    assign show_collection_name = true
  endif
  if show_badges != false and show_badges != true
    assign show_badges = false
  endif
-%}
{% assign colour_tag = "bg-" | append: colour %}
{% comment %} Removed max-w-[30rem] {% endcomment %}
 <a href = "{{ product.url }}">
  <div class = "flex items-center rounded-2xl {{ colour_tag }} {{ classes }}">
    <div class = "flex justify-between w-full">
      <div class = "flex flex-row items-center w-full">
        {{ product.metafields.custom.img_shadow.value.image | image_url: width: 400 | image_tag: style: "width:10rem"  }}
        <div class = "flex flex-col w-4/5">
          <div class = "font-body text-2xl text-black uppercase font-black text-wrap break-words">{{ product.title | split: "]" | last }}</div>
          <div class = "flex flex-row items-center mt-2">
            <div class = "font-body text-2xl text-black uppercase font-bold">{{ product.price | money_with_currency }}</div>
            {% if product.price != product.compare_at_price and product.compare_at_price != 0 %}
              <div class = "font-body text-xl text-neutral-400 uppercase font-semibold ml-4"><s>{{ product.compare_at_price | money_with_currency }}</s></div>
            {% endif %} 
          </div>
          {% comment %} 
            <div class = "font-body font-medium text-2xl text-black my-4">{% if template.name != 'product'%}{{ product.metafields.custom.thought.value }} {% endif%} </div>
          {% endcomment %}
        </div>
      </div>
      <div class = "flex justify-start">
        <a class = "group flex flex-row justify-center items-center border-black border-2 font-body font-bold text-lg px-4 py-1 rounded-xl" href = "{{ product.url }}">
          <span class = "mr-2 text-nowrap">Shop Now</span>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 7.42 11.59" class = "w-4 h-4 group-hover:translate-x-2 transition duration-300 ease-in-out">
            <polyline class="fill-none stroke-black stroke-2" stroke-linecap="round" stroke-linejoin="round" points="1.68 10.02 5.9 5.55 1.68 1.08"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</a>