  <a href="{{ card_collection.url }}" class="flex flex-col items-center p-8 {{card_collection.metafields.custom.background_color.value}} rounded-3xl transition h-full">
    <div class = "flex flex-col w-full">
    {%- if card_collection.featured_image -%}

      <div class="relative w-full h-[30vh] lg:h-[45vh] rounded-3xl overflow-hidden">
        <img
          src="{{ card_collection.featured_image | image_url: width: 800 }}"
          
          alt="{{ card_collection.featured_image.alt | escape }}"
          width="{{ card_collection.featured_image.width }}"
          height="{{ card_collection.featured_image.height }}"
          class="absolute inset-0 h-full object-cover transition-transform transform hover:scale-105"
        >
      </div>
    {%- else -%}
      {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}

        <div class="group mt-4 w-full py-6 text-2xl font-bold text-bg font-body flex items-center">
          <span>{{ card_collection.title | upcase }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 7.42 11.59" class="h-4 ml-3 transition duration-300 ease-in-out group-hover:translate-x-2">
            <polyline class="fill-none stroke-bg stroke-2" stroke-linecap="round" stroke-linejoin="round" points="1.68 10.02 5.9 5.55 1.68 1.08"></polyline>
          </svg>
        </div>
    </div>
    </a>

