{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

{%- liquid
  assign discount_to_urge = blank
  assign discount_passed = blank
  if settings.cart_drawer_discounts != blank
    assign discounts = settings.cart_drawer_discounts | sort: "value.quantity"
    for disc in discounts
      if disc.quantity > cart.item_count 
        assign discount_to_urge = disc
        break
      endif
      assign discount_passed = disc
    endfor
  endif 
-%}

<cart-drawer class="bg-bg/50 drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner bg-bg font-body"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <h2 class="drawer__heading font-display font-black uppercase text-pri-head text-4xl mt-8">{{ 'sections.cart.title' | t }}</h2>
          {% if discount_to_urge != blank %}
            <div class = "w-full flex flex-row items-center bg-hl-lighter-yellow px-8 py-4 font-body rounded-xl my-8">
              <span class="relative flex h-16 w-16">
                <span class="animate-ping-slower absolute inline-flex h-full w-full rounded-full bg-hl-yellow opacity-30"></span>
                <svg id="discount" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1235.73 1225.73" class = "relative inline-flex">
                  <path class="fill-hl-yellow" d="M119.94,407.38l21.44,86.47c2.68,10.8.04,22.24-7.1,30.77l-56.25,67.22c-10.79,12.9-10.84,31.66-.12,44.61l56.5,68.27c7.05,8.52,9.65,19.89,6.98,30.63l-21.41,86.35c-4.04,16.3,4.11,33.16,19.39,40.13l80.2,36.55c10.12,4.61,17.43,13.76,19.69,24.65l17.93,86.42c3.4,16.39,17.96,28.05,34.69,27.78l89.38-1.4c11.07-.17,21.56,4.92,28.27,13.72l53.37,69.96c10.18,13.35,28.43,17.55,43.43,9.99l79.09-39.87c9.89-4.99,21.56-4.98,31.45.03l78.6,39.78c15,7.59,33.28,3.4,43.48-9.96l53.34-69.92c6.71-8.8,17.21-13.89,28.27-13.72l89.16,1.4c16.81.26,31.41-11.5,34.73-27.98,5.81-28.86,11.79-57.71,17.99-86.44,2.32-10.75,9.61-19.76,19.62-24.32l80.39-36.63c15.28-6.96,23.43-23.83,19.39-40.13l-21.41-86.32c-2.67-10.76-.06-22.14,7.01-30.67l56.4-67.95c10.73-12.93,10.72-31.68-.04-44.6l-56.3-67.57c-7.11-8.53-9.73-19.94-7.06-30.72l21.4-86.28c4.04-16.3-4.11-33.16-19.39-40.13l-80.2-36.55c-10.12-4.61-17.43-13.76-19.69-24.65l-17.93-86.41c-3.4-16.39-17.96-28.05-34.69-27.78l-89.41,1.4c-11.05.17-21.53-4.9-28.24-13.68l-53.53-69.96c-10.23-13.37-28.55-17.53-43.55-9.88-27.23,13.9-59.56,30.25-78.35,39.73-9.87,4.99-21.52,4.99-31.4.01l-79.35-39.96c-15.01-7.56-33.28-3.34-43.45,10.05l-53.12,69.9c-6.71,8.83-17.22,13.94-28.31,13.77l-89.25-1.4c-16.77-.26-31.35,11.45-34.71,27.88l-17.35,84.87c-2.21,10.83-9.43,19.97-19.45,24.63l-81.39,37.89c-15.13,7.04-23.15,23.81-19.13,40.01Z"/>
                  <path class="fill-bg" d="M395.27,768.17h0c-9.73-12.94-7.09-31.32,5.88-41.01l364.5-271.93c12.91-9.63,31.17-7.01,40.85,5.86h0c9.73,12.94,7.09,31.32-5.88,41.01l-364.5,271.93c-12.91,9.63-31.17,7.01-40.85-5.86h0ZM497.25,557.25c-29.46-7.51-50.53-21.24-63.18-41.18-12.67-19.95-15.54-43.48-8.62-70.62l1.04-4.07c7.01-27.52,20.86-47,41.53-58.45,20.66-11.45,45.73-13.42,75.19-5.91,28.68,7.31,49.55,20.99,62.6,41.04,13.05,20.05,16.07,43.83,9.05,71.35l-1.04,4.07c-6.92,27.14-20.72,46.42-41.38,57.87-20.67,11.45-45.74,13.42-75.19,5.91h0ZM509.4,509.58c11.24,2.87,20.95,1.63,29.12-3.72s13.69-13.63,16.56-24.88l2.37-9.3c2.86-11.24,1.99-21.16-2.63-29.77s-12.55-14.34-23.79-17.21c-11.25-2.87-20.95-1.63-29.12,3.72s-13.7,13.64-16.56,24.88l-2.37,9.3c-2.87,11.25-1.99,21.16,2.63,29.77s12.54,14.34,23.79,17.21ZM658.58,852.25c-29.46-7.51-50.53-21.24-63.18-41.18-12.67-19.95-15.54-43.48-8.62-70.62l1.04-4.07c7.02-27.52,20.85-47.01,41.53-58.45,20.66-11.45,45.73-13.42,75.19-5.91,28.68,7.31,49.54,20.99,62.6,41.04,13.05,20.04,16.07,43.83,9.06,71.35l-1.04,4.07c-6.92,27.14-20.72,46.42-41.38,57.87-20.67,11.45-45.74,13.42-75.19,5.91h-.01ZM670.73,804.57c11.24,2.86,20.95,1.63,29.12-3.72s13.69-13.63,16.56-24.88l2.37-9.3c2.87-11.24,1.99-21.16-2.63-29.77-4.62-8.61-12.55-14.34-23.79-17.21-11.25-2.87-20.95-1.63-29.12,3.72s-13.7,13.64-16.56,24.88l-2.37,9.3c-2.87,11.25-1.99,21.16,2.63,29.77,4.62,8.61,12.54,14.34,23.79,17.21Z"/>
                </svg>
              </span>
              {% assign quantity_needed = discount_to_urge.quantity | minus: cart.item_count %}
              <h5 class = "font-body font-bold text-hl-red w-full text-center">Buy {{ quantity_needed }} and get {{ discount_to_urge.discount }} off!</h5>
            </div>
          {% endif %}
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
        
              <a href="{{ routes.collections_url }}" class="button transition duration-300 bg-neutral-800 w-4/5 text-center font-body text-bg capitalize text-xl font-bold py-5 px-12 rounded-xl hover:bg-hl-green">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
          <div class = "grid grid-cols-2 gap-4 mt-8">
            <div class = "flex flex-col items-center">
              {{ settings.delivery_image | image_url: width: 100 | image_tag: class: 'w-24 mb-4' }}
              <div class = "font-body text-[1.7rem] font-semibold text-neutral-800 text-center">Free Shipping</div>
              <div class = "font-body text-lg font-semibold text-neutral-400 text-center">Worldwide</div>
            </div>
            <div class = "flex flex-col items-center">
              {{ settings.return_image | image_url: width: 100 | image_tag: class: 'w-24 mb-4' }}
              <div class = "font-body text-[1.7rem] font-semibold text-neutral-800 text-center">14 Days Return</div>
              <div class = "font-body text-lg font-semibold text-neutral-400 text-center">From Day of Delivery</div>
            </div>
          </div>
          <div class = "flex flex-col items-center w-full bg-hl-lighter-blue py-8 px-12 rounded-xl mb-8">
            <div class = "flex flex-row justify-around w-full mb-4 flex-wrap">
              {%- for type in shop.enabled_payment_types -%}
                <div class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </div>
              {%- endfor -%}
            </div>
            <div class = "font-body text-base text-neutral-800 font-medium">Accepted Payments</div>
          </div>
        </div>
      {%- endif -%}
      <div class="drawer__header">
        <h2 class="drawer__heading font-display font-black uppercase text-pri-head text-4xl my-8">{{ 'sections.cart.title' | t }}</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      <cart-drawer-items
        class = "flex flex-col justify-between {% if cart == empty %}is-empty hidden{% endif %}"
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          {% render 'cart-progress-bar' %}
          {% if discount_to_urge != blank %}
            <div class = "w-full flex flex-row items-center bg-hl-lighter-yellow px-8 py-4 font-body rounded-xl mb-8">
              <span class="relative flex h-16 w-16">
                <span class="animate-ping-slower absolute inline-flex h-full w-full rounded-full bg-hl-yellow opacity-30"></span>
                <svg id="discount" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1235.73 1225.73" class = "relative inline-flex">
                  <path class="fill-hl-yellow" d="M119.94,407.38l21.44,86.47c2.68,10.8.04,22.24-7.1,30.77l-56.25,67.22c-10.79,12.9-10.84,31.66-.12,44.61l56.5,68.27c7.05,8.52,9.65,19.89,6.98,30.63l-21.41,86.35c-4.04,16.3,4.11,33.16,19.39,40.13l80.2,36.55c10.12,4.61,17.43,13.76,19.69,24.65l17.93,86.42c3.4,16.39,17.96,28.05,34.69,27.78l89.38-1.4c11.07-.17,21.56,4.92,28.27,13.72l53.37,69.96c10.18,13.35,28.43,17.55,43.43,9.99l79.09-39.87c9.89-4.99,21.56-4.98,31.45.03l78.6,39.78c15,7.59,33.28,3.4,43.48-9.96l53.34-69.92c6.71-8.8,17.21-13.89,28.27-13.72l89.16,1.4c16.81.26,31.41-11.5,34.73-27.98,5.81-28.86,11.79-57.71,17.99-86.44,2.32-10.75,9.61-19.76,19.62-24.32l80.39-36.63c15.28-6.96,23.43-23.83,19.39-40.13l-21.41-86.32c-2.67-10.76-.06-22.14,7.01-30.67l56.4-67.95c10.73-12.93,10.72-31.68-.04-44.6l-56.3-67.57c-7.11-8.53-9.73-19.94-7.06-30.72l21.4-86.28c4.04-16.3-4.11-33.16-19.39-40.13l-80.2-36.55c-10.12-4.61-17.43-13.76-19.69-24.65l-17.93-86.41c-3.4-16.39-17.96-28.05-34.69-27.78l-89.41,1.4c-11.05.17-21.53-4.9-28.24-13.68l-53.53-69.96c-10.23-13.37-28.55-17.53-43.55-9.88-27.23,13.9-59.56,30.25-78.35,39.73-9.87,4.99-21.52,4.99-31.4.01l-79.35-39.96c-15.01-7.56-33.28-3.34-43.45,10.05l-53.12,69.9c-6.71,8.83-17.22,13.94-28.31,13.77l-89.25-1.4c-16.77-.26-31.35,11.45-34.71,27.88l-17.35,84.87c-2.21,10.83-9.43,19.97-19.45,24.63l-81.39,37.89c-15.13,7.04-23.15,23.81-19.13,40.01Z"/>
                  <path class="fill-bg" d="M395.27,768.17h0c-9.73-12.94-7.09-31.32,5.88-41.01l364.5-271.93c12.91-9.63,31.17-7.01,40.85,5.86h0c9.73,12.94,7.09,31.32-5.88,41.01l-364.5,271.93c-12.91,9.63-31.17,7.01-40.85-5.86h0ZM497.25,557.25c-29.46-7.51-50.53-21.24-63.18-41.18-12.67-19.95-15.54-43.48-8.62-70.62l1.04-4.07c7.01-27.52,20.86-47,41.53-58.45,20.66-11.45,45.73-13.42,75.19-5.91,28.68,7.31,49.55,20.99,62.6,41.04,13.05,20.05,16.07,43.83,9.05,71.35l-1.04,4.07c-6.92,27.14-20.72,46.42-41.38,57.87-20.67,11.45-45.74,13.42-75.19,5.91h0ZM509.4,509.58c11.24,2.87,20.95,1.63,29.12-3.72s13.69-13.63,16.56-24.88l2.37-9.3c2.86-11.24,1.99-21.16-2.63-29.77s-12.55-14.34-23.79-17.21c-11.25-2.87-20.95-1.63-29.12,3.72s-13.7,13.64-16.56,24.88l-2.37,9.3c-2.87,11.25-1.99,21.16,2.63,29.77s12.54,14.34,23.79,17.21ZM658.58,852.25c-29.46-7.51-50.53-21.24-63.18-41.18-12.67-19.95-15.54-43.48-8.62-70.62l1.04-4.07c7.02-27.52,20.85-47.01,41.53-58.45,20.66-11.45,45.73-13.42,75.19-5.91,28.68,7.31,49.54,20.99,62.6,41.04,13.05,20.04,16.07,43.83,9.06,71.35l-1.04,4.07c-6.92,27.14-20.72,46.42-41.38,57.87-20.67,11.45-45.74,13.42-75.19,5.91h-.01ZM670.73,804.57c11.24,2.86,20.95,1.63,29.12-3.72s13.69-13.63,16.56-24.88l2.37-9.3c2.87-11.24,1.99-21.16-2.63-29.77-4.62-8.61-12.55-14.34-23.79-17.21-11.25-2.87-20.95-1.63-29.12,3.72s-13.7,13.64-16.56,24.88l-2.37,9.3c-2.87,11.25-1.99,21.16,2.63,29.77,4.62,8.61,12.54,14.34,23.79,17.21Z"/>
                </svg>
              </span>
              {% assign quantity_needed = discount_to_urge.quantity | minus: cart.item_count %}
              <h5 class = "font-body font-bold text-hl-red w-full text-center text-2xl">Buy {{ quantity_needed }} more and get {% if discount_passed != blank %}<s>{{ discount_passed.discount }}</s> {% endif %}{{ discount_to_urge.discount }} off!</h5>
            </div>
          {% endif %}
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">
                <table class="cart-items" role="table">
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="CartDrawer-ColumnProductImage" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                      </th>
                      <th
                        id="CartDrawer-ColumnProduct"
                        class="caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      >
                        {{ 'sections.cart.headings.product' | t }}
                      </th>
                      <th
                        id="CartDrawer-ColumnTotal"
                        class="right caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      >
                        {{ 'sections.cart.headings.total' | t }}
                      </th>
                      <th id="CartDrawer-ColumnQuantity" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                      </th>
                    </tr>
                  </thead>

                  <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <tr id="CartDrawer-Item-{{ item.index | plus: 1 }}" class="cart-item" role="row">
                        <td class="cart-item__media" role="cell" headers="CartDrawer-ColumnProductImage">
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </td>

                        <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}
                          {% assign actual_title = item.product.title %}
                          {%- if actual_title contains "]" -%}
                            {% assign actual_title = actual_title | split: "]" | last %}
                          {% endif %}
                          <a href="{{ item.url }}" class="cart-item__name font-bold text-3xl">
                            {{- actual_title | escape -}}
                          </a>
                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                          <dl class = "flex flex-row">
                            {%- if item.product.title contains "]" -%}
                              {% assign variant = item.product.title | split: "]" | first | split: "[" | last %}
                              <span class = "font-medium text-xl">{{ variant | escape }} (</span>
                            {% endif %}
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- for option in item.options_with_values -%}
                                <div class="font-medium text-xl">
                                  {% comment %} <dt>{{ option.name }}:</dt> {% endcomment %}
                                  <dd>{{ option.value }})</dd>
                                </div>
                              {%- endfor -%}
                            {%- endif -%}
  
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                <div class="product-option">
                                  <dt>{{ property.first }}:</dt>
                                  <dd>
                                    {%- if property.last contains '/uploads/' -%}
                                      <a href="{{ property.last }}" class="link" target="_blank">
                                        {{ property.last | split: '/' | last }}
                                      </a>
                                    {%- else -%}
                                      {{ property.last }}
                                    {%- endif -%}
                                  </dd>
                                </div>
                              {%- endif -%}
                            {%- endfor -%}
                          </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}
                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option text-2xl">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option text-2xl">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}
                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </td>

                        <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                          {%- render 'loading-spinner' -%}
                          <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              <div class="unit-price caption">
                                <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                {{ item.unit_price | money }}
                                <span aria-hidden="true">/</span>
                                <span class="visually-hidden"
                                  >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                                >
                                {%- if item.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </td>
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <td
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button class="quantity__button" name="minus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="1"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                  <button class="quantity__button" name="plus" type="button">
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </cart-remove-button>
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
        <div class = "flex flex-col">
          <div class = "grid grid-cols-2 gap-4 mt-12">
            <div class = "flex flex-col items-center">
              {{ settings.delivery_image | image_url: width: 100 | image_tag: class: 'w-24 mb-4' }}
              <div class = "font-body text-[1.7rem] font-semibold text-neutral-800 text-center">Free Shipping</div>
              <div class = "font-body text-lg font-semibold text-neutral-400 text-center">Worldwide</div>
            </div>
            <div class = "flex flex-col items-center">
              {{ settings.return_image | image_url: width: 100 | image_tag: class: 'w-24 mb-4' }}
              <div class = "font-body text-[1.7rem] font-semibold text-neutral-800 text-center">14 Days Return</div>
              <div class = "font-body text-lg font-semibold text-neutral-400 text-center">From Day of Delivery</div>
            </div>
          </div>
  
          <div class = "flex flex-col items-center w-full bg-hl-lighter-blue py-8 px-12 rounded-xl mb-8">
            <div class = "flex flex-row justify-around w-full mb-4 flex-wrap">
              {%- for type in shop.enabled_payment_types -%}
                <div class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </div>
              {%- endfor -%}
            </div>
            <div class = "font-body text-base text-neutral-800 font-medium">Accepted Payments</div>
          </div>
        </div>
      </cart-drawer-items>
      <div class="drawer__footer">
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
          <div class="totals font-bold my-8" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          {% comment %} <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small> {% endcomment %}
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button bg-black text-bg font-bold text-xl rounded-xl"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
