<input id = "total-price-cart" value = "{{ cart.total_price | money_without_currency | times: 1.0 }}" class = "hidden"/>
<input id = "full-amount-cart" value = "{{ settings.cart_progress_threshold_goal | times: 1.0 }}" class = "hidden"/>
<input id = "pregoal-cart" value = "{{ settings.cart_pre_goal_msg }}" class = "hidden"/>
<input id = "postgoal-cart" value = "{{ settings.cart_post_goal_message }}" class = "hidden"/>
<input id = "symbol-cart" value = "{{ cart.currency.symbol }}" class = "hidden"/>
<input id = "symbol-iso" value = "{{ cart.currency.iso_code }}" class = "hidden"/>
<input id = "bar_color_full-cart" value = "{{ settings.cart_progress_bar_color_full }}" class = "hidden"/>
<input id = "cart_progress_bar_color-cart" value = "{{ settings.cart_progress_bar_color }}" class = "hidden"/>


{% if cart != empty and settings.cart_progress_bar_enabled %}
    <div class="flex flex-col items-center mb-8 w-full">
    <div class = "text-center text-2xl font-semibold font-body text-balance  {{ settings.cart_progress_text_color }} mb-2 " id = "cart-progress-msg">   </div>
    <div class = "w-full {{ settings.cart_progress_bg_color }} rounded-2xl mx-auto">
        <div 
            class = "block rounded-2xl box-border p-2 transition ease-in-out h-3 motion-reduce:animate-none animate-sliding-progress"
            style = "background-image: linear-gradient(315deg,rgba(255,255,255,.4) 25%,transparent 0,transparent 50%,rgba(255,255,255,.4) 0,rgba(255,255,255,.4) 75%,transparent 0,transparent);background-size: 2rem 2rem;"
            id = "inner-progress"
        >
        </div>
    </div>
    </div>

{% endif %}