{%- liquid
    assign ratio = 1
    if card_collection.featured_image and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_collection.featured_image and media_aspect_ratio == 'adapt'
      assign ratio = card_collection.featured_image.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif

    case card_collection.handle
    when "mountains-dreamin"
      assign card_bg_color = "bg-hl-blue"
      assign card_title = "Discover Nature Like No Other"
    when "land-of-the-rising-sun"
        assign card_bg_color = "bg-hl-red"
        assign card_title = "Immerse Yourself in Japanese Beauty"
    when "a-trek-through-africa"
        assign card_bg_color = "bg-hl-orange"
        assign card_title = "Experience the Energy of the Desert"
    
    else
      assign card_bg_color = "bg-hl-green"
      assign card_title = "Explore Our Samsung Phones"

    endcase

  -%}
  <div class="flex flex-col items-center p-6 {{ card_bg_color }} rounded-xl shadow-lg transition hover:shadow-xl">
    {%- if card_collection.featured_image -%}
      <div class="relative w-full pb-[75%] bg-gray-100 rounded-xl overflow-hidden">
        <img
          src="{{ card_collection.featured_image | image_url: width: 400 }}"
          alt="{{ card_collection.featured_image.alt | escape }}"
          width="{{ card_collection.featured_image.width }}"
          height="{{ card_collection.featured_image.height }}"
          class="absolute inset-0 h-full w-full object-cover transition-transform transform hover:scale-105"
        >
      </div>
    {%- else -%}
      <div class="w-full h-48 bg-gray-200 rounded-lg"></div>
    {%- endif -%}
  
    <div class="mt-4 w-full">
      <h3 class="text-5xl font-black text-white font-display ">
          {{card_title}}
      </h3>
    </div>
  
    <a href="{{ card_collection.url }}" class="mt-6 inline-block self-start px-4 py-2 border-2 border-white {{card_bg_color}} text-white rounded-2xl hover:bg-white hover:text-black font-bold font-display">
      Shop Now
    </a>
  </div> 