{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - badge: {Text} Renders a badge to inform the user about something
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)
  - discount_badge {Text}: Renders a discount badge to inform the user about the discount percentage (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

{%- unless target == null and placeholder == null -%}
  <div class="font-body">
    <div class="reg:flex reg:flex-row reg:items-center hidden">
      <div class = "text-5xl font-semibold text-black">
        {{ price | money_with_currency }}
      </div>
      {% if compare_at_price != 0 %}
        <div class = "text-2xl text-neutral-400 ml-4">
          <s>{{ compare_at_price | money_with_currency }}</s>
        </div>
      {% endif %}
      {% if discount_badge != blank %}
        <div class = "rounded-lg bg-bg-product-2 text-bg font-body font-bold text-2xl px-3 py-1 ml-4 w-fit">
            {{ discount_badge }}
        </div>
      {% endif %}
      {%if badge != blank %}
        <div class = "rounded-lg bg-bg-product-2 text-bg font-body font-bold text-2xl px-3 py-1 ml-4 w-fit">
            {{ badge }}
        </div>
      {% endif %}
    </div>
    <div class="flex flex-col reg:hidden">
      <div class="flex flex-row items-center">
        <div class = "text-5xl font-semibold text-black">
          {{ price | money_with_currency }}
        </div>
        {% if compare_at_price != 0 %}
          <div class = "text-2xl text-neutral-400 ml-4">
            <s>{{ compare_at_price | money_with_currency }}</s>
          </div>
          {% if discount_badge != blank %}
            <div class = "rounded-lg bg-bg-product-2 text-bg font-body font-bold text-2xl px-3 py-1 ml-4 w-fit">
                {{ discount_badge }}
            </div>
          {% endif %}
        {% endif %}
      </div>
      {%if badge != blank %}
        <div class = "rounded-lg bg-bg-product-2 text-bg font-body font-bold text-xl px-3 py-1 w-fit mt-2">
            {{ badge }}
        </div>
        
      {% endif %}
    </div>
  </div>
{% endunless %}
