{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
  
  assign media_width = 0.65

  assign possible_colours = "hl-red,hl-green,hl-red,hl-blue"
  assign possible_colours = possible_colours | split: ","
-%}

<input id = "slider-controller" class = "hidden" value = "0" />

<div
  id="MediaGallery-{{ section.id }}"
  role="region"
  class = "h-fit"
>
  {% comment %} Mobile {% endcomment %}
  <div class = "flex flex-col mb-12 md:hidden block">
    <div id = "ScrollableGallery-{{ section.id }}" class = "overflow-x-scroll whitespace-nowrap w-screen text-center no-scrollbar">
      {%- for media in product.media -%}
        <div class = "inline-block w-screen">
          <div class = "flex justify-center max-h-[36rem]">
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: forloop.index0 == 0
            %}
        </div>
      </div>
      {%- endfor -%}
    </div>
    <div class = "flex flex-row w-full justify-center mt-4">
      {%- for media in product.media -%}
        <div id = "SliderIndicator-{{ section.id }}-{{ forloop.index0 }}" data-colour = "{{'bg-' | append: possible_colours[forloop.index0]}}" class = "transition-all ease-in-out duration-500 {% if forloop.index0 != 0%}bg-neutral-400{% else %}{{"bg-" | append: possible_colours[forloop.index0]}}{% endif %} {% if forloop.index0 == 0%} w-14 {% else %} w-4 {% endif %} h-4 rounded-md {% if forloop.index0 != 0 %}ml-3{% endif %}"></div>
      {%- endfor -%}
    </div>
  </div>

  {% comment %} Desktop {% endcomment %}
   <div class = "flex flex-col md:block hidden w-full max-w-[60rem]">
    <div class = "w-full pb-8 aspect-square">
      {% render 'product-thumbnail',
        media: product.media[0],
        media_count: media_count,
        position: media_position,
        desktop_layout: section.settings.gallery_layout,
        mobile_layout: section.settings.mobile_thumbnails,
        loop: section.settings.enable_video_looping,
        modal_id: section.id,
        xr_button: true,
        media_width: media_width,
        media_fit: section.settings.media_fit,
        constrain_to_viewport: section.settings.constrain_to_viewport,
        lazy_load: true
      %}
    </div>
    <div class = "w-full grid grid-cols-2 gap-8">
      {%- for media in product.media -%}
        {% if forloop.index0 != 0 %}
          <div class = "aspect-square max-h-[30rem]">
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: true
            %}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
