{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif
  
  assign media_width = 0.65

  assign possible_colours = "hl-red,hl-green,hl-yellow,hl-blue"
  assign possible_colours = possible_colours | split: ","
-%}

<div
  id="MediaGallery-{{ section.id }}"
  role="region"
  class = "h-fit"
>
  {% comment %} Mobile {% endcomment %}
  <scrollable-row id = "ScrollableGallery-{{ section.id }}" class = "flex flex-col mb-12 md:hidden block">
    <input id = "SliderController-{{ section.id }}" class = "slider-controller hidden" value = "" />
    <div id = "Scrollable-{{ section.id }}" class = "scrollable overflow-x-scroll whitespace-nowrap text-center no-scrollbar overflow-y-hidden">
      {%- for media in product.media -%}
        <div class = "inline-block w-full">
          <div class = "flex justify-center items-center h-full w-full">
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: forloop.index0 == 0,
              class: "max-h-[36rem] w-fit"
            %}
        </div>
      </div>
      {%- endfor -%}
    </div>
    <div id = "SliderIndicators-{{ section.id }}" class = "slider-indicators flex flex-row w-full justify-center mt-4"></div>
  </scrollable-row>

  {% comment %} Desktop {% endcomment %}
   <div class = "flex flex-col md:block hidden w-full">
    <div class = "w-full pb-8 aspect-square">
      {% render 'product-thumbnail',
        media: product.media[0],
        media_count: media_count,
        position: media_position,
        desktop_layout: section.settings.gallery_layout,
        mobile_layout: section.settings.mobile_thumbnails,
        loop: section.settings.enable_video_looping,
        modal_id: section.id,
        xr_button: true,
        media_width: media_width,
        media_fit: section.settings.media_fit,
        constrain_to_viewport: section.settings.constrain_to_viewport,
        lazy_load: true
      %}
    </div>
    <div class = "w-full grid grid-cols-2 gap-8">
      {%- for media in product.media -%}
        {% if forloop.index0 != 0 %}
          <div class = "aspect-square">
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: true
            %}
          </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>
