{% comment %}
  Renders a horizontal scroll section of products.
  Accepts:
  - section_id: {String} The section's id 
  - products: {List of Product (product[])} the list of products to render

  Usage:
  {% render 'scrolling-products',
    products: _products_
  %}
{% endcomment %}

{%- liquid
    assign possible_colours_lighter = 'hl-lighter-red,hl-lighter-green,hl-lighter-yellow,hl-lighter-blue'
    assign possible_colours_lighter = possible_colours_lighter | split: ','
    assign possible_colours = 'hl-red,hl-green,hl-yellow,hl-blue'
    assign possible_colours = possible_colours| split: ','
-%}

<scrollable-row id = "ScrollableProducts-{{ section_id }}" class = "relative">
    <input id = "SliderController-{{ section_id }}" class = "slider-controller hidden" value = "" />
    <div id = "Scrollable-{{ section_id }}" class = "scrollable flex flex-row overflow-x-scroll no-scrollbar scroll-smooth">
        {% for prod in products %}
            {% assign colour_index = forloop.index | modulo: 4 %}
            {% assign class_str = "" %}
            {% if forloop.index != 0 %}
                {% assign class_str = "mr-8" %}
            {% endif %}
            {% render 'card-product', section_id: section_id, product: prod, colour: possible_colours_lighter[colour_index], classes: class_str %}
        {% endfor %}
    </div>
    <div id = "SliderIndicators-{{ section_id }}" class = "slider-indicators flex flex-row w-full justify-center mt-8"></div>
    <div id = "SliderButtons-{{ section_id }}" class = "absolute right-0 -bottom-2 hidden md:block">
        <button class = "group text-bg px-8 py-3 rounded-full mr-4 transition duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 7.42 11.59" class = "h-4 transition duration-300 ease-in-out group-hover:-translate-x-2">
                <polyline class="fill-none stroke-bg stroke-2" stroke-linecap="round" stroke-linejoin="round" points="5.9 10.02 1.68 5.55 5.9 1.08"/>
            </svg>
        </button>
        <button class = "group text-bg px-8 py-3 rounded-full transition duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 7.42 11.59" class = "h-4 transition duration-300 ease-in-out group-hover:translate-x-2">
                <polyline class="fill-none stroke-bg stroke-2" stroke-linecap="round" stroke-linejoin="round" points="1.68 10.02 5.9 5.55 1.68 1.08"/>
            </svg>
        </button>
    </div>
</scrollable-row>