<div class="mx-auto {{ section.settings.caption_alignment }}">
    {% for block in section.blocks %}
      <div>
        <div class="mx-auto {{ block.settings.image_size }} item-center">
            {% if block.settings.image != blank %}
            {{ block.settings.image | image_url: width: 1200 | image_tag: class: 'w-full h-full' }}
            {% endif %}
        </div>
        <p class="{{ block.settings.caption_size }} text-black font-black font-display mt-4">
          {{ block.settings.caption }}
        </p>
      </div>
    {% endfor %}
  </div>


{% schema %}
{
    "name": "Brand Greetings",
    "tag": "section",
    "class": "section",
    "max_blocks": 1,
    "blocks": [
        {
            "type": "image_with_caption",
            "name": "Image with Caption",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Brand Image"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Brand Caption"
                },
                {
                    "type":"select",
                    "id": "caption_size",
                    "label": "Caption Size",
                    "options": [
                        {
                            "value": "text-2xl",
                            "label": "Small"
                        },
                        {
                            "value": "text-3xl",
                            "label": "Medium"
                        },
                        {
                            "value": "text-4xl",
                            "label": "Large"
                        },
                        {
                            "value": "text-5xl",
                            "label": "Extra Large"
                        },
                    ],
                    "default": "text-2xl"

                },
                {
                    "type": "select",
                    "id": "image_size",
                    "label": "Image Size",
                    "options": [
                        {
                            "value": "w-1/12 h-1/12",
                            "label": "Twelfth"
                        },
                        {
                            "value": "w-1/6 h-1/6",
                            "label": "Sixth"
                        },
                        {
                            "value": "w-1/4 h-1/4",
                            "label": "Quarter"
                        },
                        {
                            "value": "w-1/2 h-1/2",
                            "label": "Half Scale"
                        },
                        {
                            "value": "w-full h-full",
                            "label": "Full Scale"
                        }
                
                    ],
                    "default": "w-1/12 h-1/12"
                }

            ]
        }
    ],
    "settings":[
        {
            "type": "select",
            "id": "caption_alignment",
            "label": "Caption Alignment",
            "options": [
                {
                    "value": "text-left",
                    "label": "Left"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                },
                {
                    "value": "text-right",
                    "label": "Right"
                }
        ],
            "default": "text-center"
        }
    ],
    "presets": [
        {
            "name": "Brand Greetings",
            "blocks": [
                {
                    "type": "image_with_caption"
                },
            ]
        }
    ]
}
{% endschema %}
