{%- liquid
  assign delays = ""
  for block in section.blocks
    case block.type
      when 'image_slide'
        assign delays = delays | append: "5000"
      when 'video_slide'
        assign duration = block.settings.video.duration  | append: ""
        assign delays = delays | append: duration
    endcase
    if forloop.index != forloop.length
      assign delays = delays | append: ","
    endif
  endfor
-%}

<script>
  function updateTime(scrollable) {
    const currentIndex = parseInt(document.querySelector("#in-focus-{{ section.id }}").value)
    const delays = document.querySelector("#all-delays-{{ section.id }}").value.split(",")
    function restartProcess(){
      if(currentIndex == delays.length - 1) {
        scrollable.scrollLeft = 0
        var videoSelected = document.querySelector("#Slide-{{ section.id }}-0" + " video")
        if (videoSelected != null) {
          videoSelected.pause();
          videoSelected.currentTime = 0;
          videoSelected.load();
        }
        document.querySelector("#in-focus-{{ section.id }}").value = 0
      } else {
        var consideredLength = delays.length - 1
        scrollable.scrollLeft = ((scrollable.scrollWidth - scrollable.clientWidth) / consideredLength) * (currentIndex + 1)
        var videoSelected = document.querySelector("#Slide-{{ section.id }}-" + (currentIndex + 1).toString() + " video")
        if (videoSelected != null) {
          videoSelected.pause();
          videoSelected.currentTime = 0;
          videoSelected.load();
        }
        document.querySelector("#in-focus-{{ section.id }}").value = currentIndex + 1
      }
      updateTime(scrollable)
    }
    setTimeout(restartProcess, delays[currentIndex])
  }
  window.addEventListener('DOMContentLoaded',function () {
    const scrollable = document.querySelector("#Scrollable-{{ section.id }}")
    updateTime(scrollable)
  });
</script>

<input id = "all-delays-{{ section.id }}" class = "hidden" value = "{{ delays }}" />
<input id = "in-focus-{{ section.id }}" class = "hidden" value = 0 />

<div class = "h-[70rem] -mx-[3%] reg:-mx-[6%] md:-mx-[3%]">
  <scrollable-row id = "ScrollableSlideshow-{{ section.id }}"
    class="relative"
    id="Slider-{{ section.id }}"
  >
    <input id = "SliderController-{{ section.id }}" class = "slider-controller hidden" value = "" />
    <div id = "Scrollable-{{ section.id }}" 
      class = "scrollable flex flex-col overflow-x-scroll no-scrollbar scroll-smooth h-full flex-wrap"
    >
      {%- for block in section.blocks -%}
        <div id = "Slide-{{ section.id }}-{{ forloop.index0 }}" class = "w-full h-full relative">
          {% case block.type %}
          {% when 'image_slide' %}
            {%- if block.settings.image -%}
              {%- liquid
                assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                if section.settings.image_behavior == 'ambient'
                  assign sizes = '120vw'
                  assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                else
                  assign sizes = '100vw'
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                endif
                assign fetch_priority = 'auto'
                if section.index == 1
                  assign fetch_priority = 'high'
                endif
              -%}
              {%- if forloop.first %}
                {{
                  block.settings.image
                  | image_url: width: 3840
                  | image_tag: height: height, sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {%- else -%}
                {{
                  block.settings.image
                  | image_url: width: 3840
                  | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                }}
              {%- endif -%}
            {%- else -%}
              {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
              {%- if placeholder_slide == 1 -%}
                {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- else -%}
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            {%- endif -%}
          {% when 'video_slide' %}
            {% if block.settings.video %}
              {% render 'video',
                section_id: section.id,
                video: block.settings.video,
                control_colour: block.settings.control_colour,
                class: "object-cover z-0",
                position_control: "bottom-4 right-4"
              %}
            {% else %}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          {% endcase %}
          <div class = "flex flex-col absolute left-8 md:left-16 bottom-16 w-[80vw]">
            {% assign content_tag = "before:content-['" | append: block.settings.heading | append: "']"%}
            {% assign text_colour = "text-" | append: block.settings.theme_colour %}
            {% assign bg_colour = "bg-" | append: block.settings.theme_colour %}
            <div class = "relative w-4/5 text-wrap">
              <h1 class="absolute font-display font-black {{ text_colour }} text-7xl uppercase {{ content_tag }} bottom-0 left-1.5 w-[90vw]">
                {{ block.settings.heading }}
              </h1>
              <h1 class="absolute font-display font-black text-bg text-7xl uppercase {{ content_tag }} bottom-1.5 left-0 w-[90vw]">
                {{ block.settings.heading }}
              </h1>
            </div>
            <div class = "{{ bg_colour }} py-1 px-4 text-bg font-body font-bold rounded-xl w-fit">
              {{ block.settings.subheading }}
            </div>
          </div>
        </div>
        {%- endfor -%}
    </div>
    <div id = "SliderIndicators-{{ section.id }}" class = "absolute bottom-8 right-[45vw] md:bottom-12 md:right-20 slider-indicators flex flex-row w-full justify-end mt-8 drop-shadow-2xl"></div>
  </scrollable-row>
</div>


{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "t:sections.slideshow.settings.accessibility.default"
    }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.slideshow.blocks.slide.settings.heading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "select",
          "id": "theme_colour",
          "label": "Theme Colour (Tailwind)",
          "options": [
            {
              "label": "Red",
              "value": "hl-red"
            },
            {
              "label": "Blue",
              "value": "hl-blue"
            },
            {
              "label": "Green",
              "value": "hl-green"
            },
            {
              "label": "Yellow",
              "value": "hl-yellow"
            },
          ]
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "select",
          "id": "box_align",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
          "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.settings.mobile.content"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment_mobile.label"
        }
      ]
    },
    {
      "type": "video_slide",
      "name": "Video Slide",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "select",
          "id": "control_colour",
          "label": "Control Colour (Tailwind)",
          "options": [
            {
              "label": "Red",
              "value": "hl-red"
            },
            {
              "label": "Blue",
              "value": "hl-blue"
            },
            {
              "label": "Green",
              "value": "hl-green"
            },
            {
              "label": "Yellow",
              "value": "hl-yellow"
            },
            {
              "label": "White",
              "value": "bg"
            },
            {
              "label": "Black",
              "value": "black"
            }
          ],
          "default": "bg"
        },
        {
          "type": "select",
          "id": "theme_colour",
          "label": "Theme Colour (Tailwind)",
          "options": [
            {
              "label": "Red",
              "value": "hl-red"
            },
            {
              "label": "Blue",
              "value": "hl-blue"
            },
            {
              "label": "Green",
              "value": "hl-green"
            },
            {
              "label": "Yellow",
              "value": "hl-yellow"
            },
          ]
        },
        {
          "type": "select",
          "id": "position",
          "label": "Video Position",
          "options": [
            {
              "value": "object-bottom",
              "label": "Bottom"
            },
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-top",
              "label": "Top"
            }
          ],
          "default": "object-center"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Video Slide",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "t:sections.slideshow.blocks.slide.settings.subheading.default",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "image_slide"
        },
        {
          "type": "video_slide"
        }
      ]
    }
  ]
}
{% endschema %}
